body{
  margin: 0px;
  padding: 0px;
  top: 0px;
  width: 100%;
  background-size: cover;
}





/* Начало */
ul {
  display: flex;
}

ul li {
  list-style: none;
  border: 1px solid #177fd4;
}

ul li a{
  padding: 0 20px;
  cursor: pointer;
  color: rgb(172, 230, 14);
  font-size: 20px;
  font-weight: bolder;
  background-repeat: no-repeat;
  background-image: linear-gradient(135deg, rgb(94, 0, 172) 0%, rgb(247, 82, 205) 50%, transparent
  50%);
  background-size: 0 100%;
  -webkit-background-size: 0 100%;
  transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
}
a {
  text-decoration: none;
}
ul li a:hover {
  background-size: 200% 100%;
  -webkit-background-size: 200% 100%;
}

.dropdown .dropdown-content{
  position: absolute;
  min-width: 150px;
  top: 80%;
  display: none;
} 

.dropdown-content > a {
  display: block;
  border: 1px solid #177fd4;
  padding: 10px;
}

.dropdown:hover .dropdown-content{
  display: block;
}
/* Конец */
  
  /* ul {
    list-style-type: none;
    margin: 10;
    padding: 2;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 236, 221);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(49, 43, 45, 0.952);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #36343400;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(66, 66, 66, 0.726);
    z-index: 999;
  }
  
  .dropdown-content a {
    color: rgb(9, 239, 247);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #44354081;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */

  main, footer,.container {
    width: 100%;
    max-width: 1024px; 
    padding: 0 15px;
    margin: 0 auto;
  }

  img {
    position: relative;
    padding-top: 15%;
    padding-left: 24%;
  }

  h1 {
    position: relative;
    margin-top: 200px;
    text-align: center;
    color: rgb(130, 197, 255);   
  }

  h2 {
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: rgb(130, 197, 255);   
  }

  .art {
    position: relative;
    font-size: 20px; 
    color: rgb(130, 197, 255);   
  }

  header {
      position: fixed;
      /* margin-left: 13%; */
      /* right: 110px; */
      margin: auto;
      right: 5%;
      top: 0px;
      z-index: 4;
  }


  table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
  }
  th, td {
    border: 1px solid rgb(151, 238, 10); /* Параметры рамки */
    padding: 4px; /* Поля вокруг текста */
  }

  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23153c
    /* z-index: 2; */
}

#page-wrapper {
    position: relative;
    z-index: 3;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    min-height: 100%;
}

/* #particles-js {
  height: 100vh;
} */

#your-element-selector {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}